*{
    background-color: $_primary-background-color;
    font-family: $_primary-font-family;
    position: relative;
}
.container{
    max-width: 1200px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 100px;
}
.noDisplay{
    display: none;
}
